
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark default-color scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Assignment</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" routerLink="/home" mdbWavesEffect [routerLinkActive]="['active']">
              <a class="nav-link">Home</a>
          </li>
          <li class="nav-item waves-light" routerLink="/services" mdbWavesEffect [routerLinkActive]="['active']">
              <a class="nav-link">Services</a>
          </li>
          <li class="nav-item waves-light" routerLink="/products" mdbWavesEffect [routerLinkActive]="['active']">
              <a class="nav-link">Products</a>
          </li>
          <li class="nav-item waves-light" routerLink="/contact" mdbWavesEffect [routerLinkActive]="['active']">
              <a class="nav-link">Contact</a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
      <div class="row mt-5 pt-5">
          <div class="col text-center">
            <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</main>
<!-- /.Main -->
      